.menu__list {
    list-style-type: none;
    border: 1px solid #000;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

/* Верхнее закругление рамки */
.menu__list:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu__list:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* При наведение на ячейку убирается подчеркивание */
.menu__list:hover .menu__link {
    text-decoration: none;
}

/* При наведении на ссылку меняется цвет шрифта ссылки */
.menu__link:hover {
    color: red;
}

/* При нажатии и удержании ЛКМ на ссылке, цвет текста меняется на зеленый */
.menu__link:active {
    color: green;
}